/* ********** VARIABLES ********** */
:root {
  --pink: #e55d87;
  --pink2: #d06d95;
  --pink3: #b085ac;
  --purple: #9b95ba;
  --skyblue: #5fc3e4; 
  --whiteish: #EEEEF3;
}
/* ********** END variables ********** */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: linear-gradient(135deg, var(--skyblue) 0%, var(--pink3) 100%);
}

@media screen and (max-width: 800px) {
  body{
    background: var(--skyblue)
  }
}

a {
  color: var(--skyblue);
  font-weight: bold;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background: var(--whiteish);
   padding: 20px;
   margin-top: 20px;
   border-radius: 5%
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.profileImg {
  width: 100%;
  height: 60%;
  padding: 20px;
  border-radius: 50%;
}

.currentlyImg {
  border-radius: 5%;
}


/* ********** HEADER AND FOOTER  ********** */

    /********* Main nav *********/
      .main_nav {
        position: fixed;
        top: 0px;
        max-height: 50px;
        z-index: 999;
        width: 100%;
        background: none;
        overflow: hidden;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0;
        top: -100px;
        padding-bottom: 6px;
      }

      @media only screen and (max-width: 766px) {
      .main_nav {
        padding-top: 25px;
      }
      }
      .open-nav {
        max-height: 400px !important;
      }
      .sticky {
        background-color: #ffffff;
        opacity: 1;
        top: 0px;
      }
      nav {
        width: 100%;
        margin-top: 5px;
      }

      @media only screen and (max-width: 766px) {
      nav {
        width: 100%;
      }
      }
      nav ul {
        list-style: none;
        overflow: hidden;
        text-align: center;
      }

      @media only screen and (max-width: 766px) {
      nav ul {
        padding-top: 0px;
        margin-bottom: 22px;
        text-align: center;
        width: 100%;
      }
      }
      nav ul li {
        display: inline-block;
        margin-left: 35px;
        line-height: 1.5;
        letter-spacing: 1px;
      }

      @media only screen and (max-width: 766px) {
      nav ul li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
      }
      nav ul li:first-child {
        margin-top: 70px;
      }
      }
      nav ul a {
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
      }
      nav ul a:hover {
        color: #CFCFCF;
      }
    /********* End Main nav ********/

    /********* Header ********/
      header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%%;
        height: 100vh;
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--pink)', endColorstr='var(--skyblue)', GradientType=1 );*/
      }
    /********* End Header ********/

    /********* Container ********/
      .container {
        position: relative;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
      }

      /* For devices larger than 400px */
      @media (min-width: 400px) {
      .container {
        width: 85%;
        padding: 0;
      }
      }

      /* For devices larger than 550px */
      @media (min-width: 550px) {
      .container {
        width: 80%;
      }

      .container_footer {
        position: relative;
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
      }
        /* For devices larger than 400px */
      @media (min-width: 400px) {
      .container_footer {
        width: 85%;
        padding: 0;
      }
      }

      /* For devices larger than 550px */
      @media (min-width: 550px) {
      .container_footer {
        width: 80%;
      }
    /********* End Container ********/

    /********* Footer ********/
      footer {
        min-height: 100px;
        padding: 40px 0 20px 0;        
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e55d87', endColorstr='#5fc3e4', GradientType=1 );*/
        box-sizing: border-box;
      }
      footer p {
        color: #FFFFFF;
        margin: 20px 0 0 0;
      }
    /********* End Footer ********/

    /********* Mobile toggle ********/
      .mobile-toggle {
        display: none;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: 22px;
        top: 0;
        width: 30px;
      }

      @media only screen and (max-width: 766px) {
      .mobile-toggle {
        display: block;
      }

      }
      .mobile-toggle span {
        width: 30px;
        height: 4px;
        margin-bottom: 6px;
        background: #000000;
        display: block;
      }
    /********* End Mobile toggle ********/

    /********* Title ********/
      .title {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        padding: 2rem;
        max-width: 960px;
        text-align: center;
      }
      .title .smallsep {
        background: #fff;
        height: 2px;
        width: 70px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .title h1 {
        font-size: 80px;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 0.85;
        margin-bottom: 28px;
        margin: 0;
        padding: 0;
        color: #FFFFFF;
      }
      .title h2 {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 5px;
        margin-top: 50px;
      }
      .title h3 { /*majo*/
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 3px;
        margin-top: 50px;   
      }

      @media only screen and (max-height: 700px) {
      .title h1 {
        font-size: 80px;
      }
      }
      .title p {
        max-width: 600px;
        margin: 0 auto;
        line-height: 150%;
      }

      @media only screen and (max-width: 500px) {
      .title h1 {
        font-size: 65px;
      }
      }
      .title .icon {
        color: #FFFFFF;
        font-size: 50px;
      }

      .button {
        display: inline-block;
        border-radius: 10px;
        background-color: #64bfe0;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 20px;
        padding: 20px;
        padding-top: 14px;
        padding-bottom: 14px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }

      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }

      .button:hover span {
        padding-right: 25px;
      }

      .button:hover span:after {
        opacity: 1;
        right: 0;
      } 
    /********* End Title ********/

/* ********** END HEADER AND FOOTER ********** */

/* Image grid */
.imgesGrid {
  margin-top: 2rem;
  padding: 1rem 0;
}

.imgGrid {
  margin: 2rem auto;
  max-width: 1100px;
}

.imgGrid img {
  border-radius: 0.6rem;
  height:326px; 
  width:353px;
}

.imgGridItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1rem;
}

.imgGridTitle {
  color: var(--whiteish);
  text-align: center;
}

.imgGridDesc {
  color: var(--whiteish);
  text-align: center;
  font-size: 0.8rem;
}

/* Responsive layout - when the screen is less than 800px wide, make them on top of each other instead of next to each other */
/* NO FUNCIONA ESTO AUN */
@media screen and (max-width: 800px) {
  .imgGridItems {   
    width: 100%;
    padding: 0;
  }
}

/* Image grid ends */